#top {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#top h1 {
  margin: 0;
  padding: 10px;
  color: white;
  font-size: 4rem;
  text-align: center;
}

#main {
  margin-top: 100vh;
  background-color: white;
}

.data {
  padding-bottom: 30px;
}

.data:last-child {
  padding-bottom: 100px;
}

h2:not(:first-child){
  margin-top: 50px;
}

#github-chart {
  width: 100%;
  overflow-x: scroll;
}

i.fa {
  text-align: center;
}

.row .fa {
  margin-bottom: 20px;
}

#link-img {
  width: 40px;
}
